@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


@mixin respond ($break-point) {
    @if $break-point = mobile {
        @media screen and (max-width: 23.5em) {
            @content
        };
    };
    @if $break-point = myiphone {
        @media screen and (max-width: 34.5em) {
            @content
        };
    };
}

html {
    font-size: 16px;

    @include respond(myiphone){
        font-size: 12px;
    }

    --background-color: #FAFAFA;
    --card-color: #ffffff;

    // fonts
    --active-task: #484B6A;
    --completed-task: #D2D3DB;

    --input-ph: #9394A5;
    
    --btm-left-completed: #9394A5;

    // buttons
    --btn-active: #3A7BFD;
    --btn-inactive: #9394A5;
    --btn-hover--input-active: #484B6A;


    --radio-regular: #E4E5F1;

    --theme-icon: url(/assets/images/icon-moon.svg);
    --hero-big: url(/assets/images/bg-desktop-light.jpg);
    --hero-small: url(/assets/images/bg-mobile-light.jpg);
}

htm[theme="dark"]{
    --background-color: #161722;
    --card-color: #25273C;

    // fonts
    --active-task: #CACDE8;
    --completed-task: #4D5066;

    --input-ph: #777A92;
    
    --btm-left-completed: #4D5066;

    // buttons
    --btn-active: #3A7BFD;
    --btn-inactive: #777A92;
    --btn-hover--input-active: #E4E5F1;


    --radio-regular: #393A4C;

    --theme-icon: url(/assets/images/icon-sun.svg);
    --hero-big: url(/assets/images/bg-desktop-dark.jpg);
    --hero-small: url(/assets/images/bg-mobile-dark.jpg);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    background-color: var(--background-color);
    &::before{
        position: absolute;
        content: "";
        background: var(--hero-big);
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        width: 100%;
        height: 18.75rem;
        z-index: -2;

        @include respond(myiphone){
            background: var(--hero-small);
            background-size: contain;
            background-repeat: no-repeat;
            height: 18.41666666666667rem;
        }
    }
}

main{
    width: fit-content;
    margin: 0 auto;
    position: relative;
}
ul{
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.0625rem 0 3.1875rem 0;

    @include respond(myiphone){
        padding-top: 3.75rem;
        padding-bottom: 3rem;
    }

    h1{
        color: #ffffff;
        text-transform: uppercase;
    }
    .theme{
        // background-color: red;
        width: 20px;
        height: 20px;
        background-image: var(--theme-icon);
        background-size: contain;
        cursor: pointer;
    }
}

section {
    width: 33.75rem;
    @include respond(myiphone){
        width: 27.25rem;
    }
}

.input{
    position: relative;
    margin-bottom: 1.5rem;
    @include respond(myiphone){
        margin-bottom: 1.5rem;
    }
    button{
        background-color: transparent;
        width: 1.5rem;
        height: 1.5rem;
        color: transparent;
        border-radius: 50%;
        border: 1px solid var(--radio-regular);
        position: absolute;
        top: 50%;
        left: 2.25rem;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
    .todo-input{
        padding: 1.5rem 0 1.375rem 4.5rem ;
        font-size: 1.125rem;
        color: var(--active-task);
        background-color: var(--card-color);
        border: transparent 1px solid;
        font-family: 'Josefin Sans', sans-serif;
        width: 100%;
        border-radius: 6px;

        @include respond(myiphone){
            font-size: 1rem;

            &::placeholder{
                font-size: 1rem;
            }
            &:focus-visible{
                font-size: 1rem;
            }
        }

        &::placeholder{
            color: var(--input-ph);
            font-size: 1.125rem;
            text-transform: none;
        }
        &:focus-visible{
            border: transparent 1px solid;
            outline: transparent 1px solid;
        }
    }
}

.todolist {
    background-color: var(--card-color);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0px 18px 50px 2px #0000001A;

    

    input {
        background-color: transparent;
        width: 1.5rem;
        height: 1.5rem;
        color: transparent;
        border-radius: 50%;
        border: 1px solid var(--radio-regular);
        appearance: none;
        cursor: pointer;
        margin-right: 1.5rem;

        @include respond(myiphone){
            margin-right: 0.916rem;
            width: 1.667rem;
            height: 1.667rem;
        }

        &:checked{
            background-image: url(/assets/images/icon-check.svg)  , linear-gradient(144.16deg, #57DDFF 17.27%, #C058F3 83.53%);
            background-repeat: no-repeat;
            background-position: center;
        }

        &:checked + label {
            text-decoration: line-through;
            color: var(--completed-task);
        }
    }
    label{
        font-size: 1.125rem;
        color: var(--active-task);
        cursor: pointer;

        @include respond(myiphone){
            font-size: 1rem;
        }
    }

    .todolist-item{
        border-bottom: 1px solid var(--radio-regular);
        
        & > div {
            display: flex;
            align-items: center;
            padding: 1.1875rem  1.5rem 1.375rem 1.5rem;
            position: relative;

            @include respond(myiphone){
                padding: 1.333333333333333rem 1.666666666666667rem 1.409166666666667rem 1.333333333333333rem;

                span{
                    position: absolute;
                    background-size: contain;
                    background-image: url(/assets/images/icon-cross.svg);
                    top: 1.666666666666667rem;
                    right: 1.666666666666667rem;
                    width: 0.9825rem;
                    height: 0.9825rem;
                }
            }

            &:hover{

                span{
                    position: absolute;
                    background-image: url(/assets/images/icon-cross.svg);
                    top: 1.5rem;
                    right: 1.5rem;
                    width: 1.125rem;
                    height: 1.125rem;
                    cursor: pointer;

                    @include respond(myiphone){
                        background-size: contain;
                        top: 1.666666666666667rem;
                        right: 1.666666666666667rem;
                        width: 0.9825rem;
                        height: 0.9825rem;
                    }
                }
            }
        }
    }
}


.bottom-wrapper{
    position: relative;
    
    .status-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8125rem;
        background-color: var(--card-color);
        padding: 1rem 1.5rem;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0px 28px 38px -8px #0000001A;
        p,
        button{
            color: var(--completed-task);
        }
    }
    .sort-bar{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        @include respond(myiphone){
            position: static;
            display: flex;
            justify-content: center;
            background-color: var(--card-color);
            padding: 1.5rem 1.25rem;
            transform: translate(0,0);
            margin-top: 16px;
            border-radius: 6px;
            box-shadow: 3px 20px 28px -8px #0000001A;
        }

        button{
            color:var(--btn-inactive);
            font-weight: 700;
            @include respond(myiphone){
                font-size: 16px;
            }

            &:active{
                color: var(--btn-active);
            }
            &:hover{
                color: var(--btn-hover--input-active);
            }
            
            &:first-child{
                margin-right: 1.1875rem;
                @include respond(myiphone){
                    margin-right: 1.5rem;
                }
            }
            &:nth-child(2){
                margin-right: 0.9375rem;
                @include respond(myiphone){
                    margin-right: 1.5rem;
                }
            }
        }
    }
    
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 0.875rem;
        line-height: 1.125rem;
        
        &:active,
        &:hover{
            color: var(--btn-hover--input-active);
        }
    }
}

p:last-child{
    margin-top: 3.0625rem;
    text-align: center;
    font-weight: 400;
    color: var(--btm-left-completed);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--btn-inactive);
    @include respond(myiphone){
        font-size: 7px;
        bottom: -12%;
    }
    a {
        color: var(--btn-active); 
    }
}

.blue{
    color: var(--btn-active);
}
